<h3 id="notice"><%= notice %></h3>

<% if !logged_in? %>
  <div id="form">
    <div id="signin-page" class="sign-in">
      <h3 class="text-center">Sign In 登录</h3>
      <%= form_for User.new, :url => "/log_in", html: { id: 'sign-in' } do |form| %>
      <%= render partial: '/users/form', object: form %>
      <br>
      <div class="submit-field">
        <%= form.submit 'Sign in 登录' %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>